@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1710px;
  margin: 0 auto;
  padding: 20px 50px 0 50px;
}

.header {
  max-width: 100%;
  height: 150px;
  background: radial-gradient(at 50% 50%, #5C9BBC, #0C5E8D);
}

.header-content {
  display: flex;
}

.header-content__middle {
  color: #fff;
  margin-left: 20px;
}

.header-content__title {
  font-weight: 500;
  font-size: 60px;
}

.header-content__search {
  margin-top: 5px;
}

.nav {
  margin-top: 15px;
}

.nav-items li a {
  transition: all 0.2s ease-in;
}

.nav-items li a:hover {
  color: #DD4A4A;
}

.arrow-btn::after {
  content: "";
  position: absolute;
  background: url(../img/arrow-down.svg);
}

.submenu {
  background: #0C5E8D;
  position: absolute;
  left: 0;
  top: 26px;
  z-index: 20;
  width: 160px;
  transition: 0.5s ease-in-out;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 0.5s ease-in-out;
}

.submenu li {
  padding: 10px;
}

.submenu a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.submenu li:last-child a {
  border-bottom: none;
}

.nav-items > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}

.nav__item a {
  color: #fff;
}

span img {
  position: absolute;
  top: 5px;
  left: 20px;
  z-index: 1;
  color: #4f5b66;
}

form {
  position: relative;
  width: 300px;
}

input {
  width: 690px;
  height: 23px;
  padding-left: 10px;
  border: 1px solid #fff;
  border-radius: 250px;
  position: relative;
  outline: none;
  background: none;
}

input[type=search] {
  padding-left: 50px;
}

input[type=search]::placeholder {
  position: absolute;
  color: #fff;
  font-weight: 300;
}

.nav-items {
  display: flex;
}

.nav-items li {
  position: relative;
}

.nav__item {
  padding-right: 25px;
}

.header-content__end {
  margin-left: 30px;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}

.header-user {
  color: #fff;
}

.header-user__enter {
  display: flex;
  margin-left: 60px;
}

.header-user__log {
  display: flex;
}

.dropbtn {
  padding: 5px;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.header-dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.header-dropdown__content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 140px;
}

.header-dropdown__btn {
  display: flex;
}

.dropbtn {
  color: #fff;
  padding: 0;
}

.arrow-down {
  margin-left: 3px;
}

.arrow-down img {
  display: flex;
  align-items: center;
  margin-top: 3px;
  width: 10px;
}

.header-dropdown__content a:first-child {
  background: url("http://icons.iconarchive.com/icons/custom-icon-design/flag-3/16/Russia-Flag-icon.png") no-repeat left center;
}

.header-dropdown__content a:last-child {
  background: url("http://www.miru-mir.info/images/en.gif") no-repeat left center;
}

/* Links inside the dropdown */
.header-dropdown__content a {
  color: black;
  padding: 2px 0 2px 25px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.header-dropdown__content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.header-dropdown:hover .header-dropdown__content {
  display: block;
}

.header-user__lang {
  margin-right: 25px;
}

.header-user__info {
  margin-top: 25px;
}

.header-user__info {
  display: flex;
}

.header-user__log span {
  margin: 0 4px 0 4px;
}

.header-info__reg {
  margin-right: 30px;
  text-transform: uppercase;
  opacity: 0.4;
}